/* --- General Settings --- */

h1, h2, h4, body {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Montserrat", Arial, sans-serif;
    font-weight: 400;
}

/* --- Header --- */
header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../images/hero_image.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-items: center;
}

.slogan-container {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 70%;
    height: 500px;
    margin-bottom: auto;
    margin-top: 60px;
}

.slogan-container h1 {
    font-size: 250%;
    font-weight: 200;
    letter-spacing: 1px;
    word-spacing: 4px;
    text-transform: uppercase;
    color: #ecf0f1;
}

.btn {
    width: 150px;
    padding: 10px 5px;
    border-radius: 200px;
    text-decoration: none;
    margin-top: 35px;
}

.btn:link, .btn:visited {
    border: 1px solid #d35400;
    color: #ecf0f1;
}

.btn:hover {
    background-color: #d35400;
    transition: background-color 0.3s ease-in-out;
}

.btn:active {
    background-color: #d35400;
}

/* --- Navigation Bar --- */

.nav-container {
    display: flex;
    justify-items: flex-start;
    height: 80px;
    padding-top: 10px;
    width: 100%;
}

nav > img {
    margin-left: 17px;
}

nav > ion-icon {
    color: #ecf0f1;
    height: 3rem;
    margin: 5px 15px 0 auto;
    width: 3rem;
}

/* --- Section Features --- */

.section-features {
    background-color: #ecf0f1;
    display: flex;
    flex-flow: column wrap;
    text-align: center;
    padding: 0 10px;
    letter-spacing: 1px;
}

.section-features hr {
    width: 50%;
    border: 1px solid #d35400;
    margin-bottom: 20px;
}

.section-features h2 {
    font-weight: 300;
    text-transform: uppercase;
    margin-top: 35px;
    margin-bottom: 10px;
}

.section-features h4 {
    font-weight: 500;
    text-transform: uppercase;
    font-size: 110%;
}

.section-features p {
    font-weight: 300;
}

.section-features ion-icon {
    width: 2.6rem;
    height: 2.6rem;
    margin-bottom: 15px;
    color: #d35400;
}

.section-features > div {
    margin-bottom: 20px;
}

/* --- Section Testimonials --- */

.section-testimonials {
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(../images/testimonials_background.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    /* background-repeat: repeat-x; */
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-items: center;
    color: #ecf0f1;
    letter-spacing: 1px;
    padding: 0 10px;
    position: relative;
}

.section-testimonials h2 {
    font-weight: 300;
    text-transform: uppercase;
    margin-top: 35px;
    margin-bottom: 10px;
    text-align: center;
}

.section-testimonials hr {
    width: 50%;
    border: 1px solid #d35400;
    margin-bottom: 20px;
}

.section-testimonials img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    vertical-align: middle;
}

.section-testimonials blockquote {
    font-weight: 200;
    text-align: left;
    font-style: italic;
}

blockquote::before {
    content: "\201C";
    font-size: 400%;
    display: block;
    height: 45px;
    margin-left: -8px;
}

.section-testimonials cite {
    padding-left: 40px;
}

[class^="section-testimonials-"] {
    margin-bottom: 30px;
}

.testimonial-names {
    margin-left: 20px;
    font-weight: 100;
    font-size: 0.9rem;
}

/* --- Section Register --- */

.section-register {
    background-color: #ecf0f1;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    letter-spacing: 1px;
}

.section-register h2 {
    font-weight: 300;
    text-transform: uppercase;
    margin-top: 35px;
    margin-bottom: 10px;
    padding: 0 10px;
}

form {
    border: 3px solid #d35400;
    border-radius: 40px;
    font-weight: 400;
    font-size: 1.0rem;
    margin-bottom: 75px;
    margin-top: 45px;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    text-transform: uppercase;
    padding: 30px 20px;
    letter-spacing: 1px;
    width: 80%;
}

#name, #email, #password {
    width: 80%;
    margin-bottom: 45px;
    height: 25px;
    border-radius: 8px;
    border: 1px solid black;
}

form label {
    margin-bottom: 18px;
}

/* .form-btn {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-around;
    width: 50%;
    margin-bottom: 20px;
} */

.form-btn-full {
    background-color: #d35400;
    color: #ecf0f1;
    border: none;
    font-family: "Montserrat", Arial, sans-serif;
    font-weight: 300;
    height: 40px;
    width: 90px;
    border-radius: 200px;
    margin-right: 40px;
}

.form-btn-full:hover {
    background-color: #883600;
    border-color: #883600;
    transition: background-color 0.2s ease-in-out;
}

.form-btn-ghost {
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid #d35400;
    font-family: "Montserrat", Arial, sans-serif;
    font-weight: 300;
    height: 40px;
    width: 110px;
    border-radius: 200px;
}

.form-btn-ghost:hover {
    background-color: #883600;
    border-color: #883600;
    color: #ecf0f1;
    transition: 0.3s ease-in-out;
}

#name:focus, #email:focus, #password:focus {
    border-color: #d35400;
}