/* --- General Settings --- */

/*Smooth Scrolling*/
html {
    scroll-behavior: smooth;
}

:target:before {
    content: "";
    display: block;
    height: 150px;
    margin: -100px 0 0;
}
/*End of Smooth Scrolling*/

h1, h2, h4, p, body {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Montserrat", Arial, sans-serif;
    font-weight: 400;
}

/* Remove blue background when buttons and links are clicked on mobile */
input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
/* Remove blue background when buttons and links are clicked on mobile */

/* --- Header --- */
header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)), url(../images/hero_image.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-items: center;
}

.slogan-container {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: auto;
    margin-top: 20%;
    width: 70%;
}

.slogan-container h1 {
    font-size: 250%;
    font-weight: 200;
    letter-spacing: 1px;
    word-spacing: 4px;
    text-transform: uppercase;
    color: #fafafa;
}

.btn {
    width: 150px;
    padding: 10px 5px;
    border-radius: 200px;
    text-decoration: none;
    margin-top: 35px;
}

.btn:link, .btn:visited {
    border: 1px solid #d35400;
    color: #fafafa;
}

.btn:active {
    background-color: #d35400;
}

/* --- Navigation Bar --- */

.nav-container {
    display: flex;
    justify-items: flex-start;
    padding-top: 10px;
    width: 100%;
    margin-top: 10px;
    height: 127px;
}

.logo-white, .logo-black {
    width: 110px;
    height: 110px;
    margin-left: 17px;
}

nav > ion-icon {
    color: #fafafa;
    height: 3rem;
    margin: 15px 15px 0 auto;
    width: 3rem;
}

.logo-black {
    display: none;
}

.nav-links-container {
    display: none;
    flex-flow: column wrap;
    justify-content: space-between;
    margin-left: 20px;
}

.nav-links:link, .nav-links:visited {
    text-decoration: none;
    text-transform: uppercase;
    color: #fafafa;
}

.nav-links {
    margin: 10px 0;
}

.js--nav-links-container-show {
    display: flex;
}

.js--icon-display-none {
    display: none;
}

.js--icon-display-block {
    display: block;
}

/* --- Navigation Bar Sticky --- */

.sticky-nav {
    background-color: #fafafa;
    display: flex;
    justify-items: flex-start;
    padding-top: 0px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    box-shadow: 0 2px 2px rgb(95, 95, 95);
    margin-top: 0;
    max-height: 127px;
}

.sticky-nav .logo-black {
    display: block;
    width: 70px;
    height: 70px;
}

.img-container {
    display: flex;
    align-self: center;
}

.sticky-nav .logo-white {
    display: none;
}

.sticky-nav .menu-icon {
    color: black;
    margin: auto 20px auto auto;
}

.sticky-nav .nav-links:link, .sticky-nav .nav-links:visited{
    text-decoration: none;
    text-transform: uppercase;
    color: black;
}

/* --- Section Features --- */

.section-features {
    background-color: #fafafa;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    text-align: center;
    padding: 0 30px;
    letter-spacing: 1px;
}

.section-features hr {
    width: 50%;
    border: 1px solid #d35400;
    margin-bottom: 20px;
}

.section-features h2 {
    font-weight: 300;
    text-transform: uppercase;
    margin-top: 35px;
    margin-bottom: 20px;
}

.summary {
    font-size: 1.1rem;
    text-align: center;
    font-weight: 300;
    margin-bottom: 20px;
    line-height: 1.5;
}

.section-features h4 {
    font-weight: 500;
    text-transform: uppercase;
    font-size: 110%;
    margin-bottom: 15px;
}

[class^="section-features-"] > p {
    font-weight: 300;
    line-height: 1.5;
}

.section-features ion-icon {
    width: 2.6rem;
    height: 2.6rem;
    margin-bottom: 15px;
    color: #d35400;
}

.section-features-one, .section-features-two, .section-features-three {
    margin-bottom: 20px;
}

.section-features-four {
    margin-bottom: 40px;
}

/* --- Section Chefs --- */

.section-chef-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(170px, 1fr));
    background-color: black;
}

[class^="chef-"] {
    display: grid;
    height: 170px;
    background-position: center;
    background-size: cover;
}

.chef-michelle {
    background-image: url(../images/chef_michelle.jpg);
}

.chef-pablo {
    background-image: url(../images/chef_pablo.jpg);
}

.chef-johan {
    background-image: url(../images/chef_johan.jpg);
}

.chef-dexter {
    background-image: url(../images/chef_dexter.jpg);
}

.modal > p {
    line-height: 1.5;
}

/* --- Section Testimonials --- */

.section-testimonials {
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(../images/testimonials_background.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-content: center;
    color: #fafafa;
    letter-spacing: 1px;
    padding: 0 10px;
    position: relative;
}

.section-testimonials h2 {
    font-weight: 300;
    text-transform: uppercase;
    margin-top: 35px;
    margin-bottom: 10px;
    text-align: center;
}

.section-testimonials hr {
    width: 50%;
    border: 1px solid #d35400;
    margin-bottom: 20px;
}

.section-testimonials img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    vertical-align: middle;
}

.section-testimonials blockquote {
    font-weight: 200;
    text-align: left;
    font-style: italic;
    line-height: 1.5;
}

blockquote::before {
    content: "\201C";
    font-size: 400%;
    display: block;
    height: 45px;
    margin-left: -8px;
}

.section-testimonials cite {
    padding-left: 40px;
}

.section-testimonials-stephan-meyers, .section-testimonials-yin-parker, .section-testimonials-tanya-stevens {
    margin-bottom: 30px;
}

.section-testimonials-yohav-bloomberg {
    margin-bottom: 60px;
}

.testimonial-names {
    margin-left: 20px;
    font-weight: 100;
    font-size: 0.9rem;
}

/* --- Section Register --- */

.section-register {
    background-color: #fafafa;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    letter-spacing: 1px;
}

.section-register h2 {
    font-weight: 300;
    text-transform: uppercase;
    margin-top: 35px;
    margin-bottom: 10px;
    padding: 0 10px;
}

form {
    border: 3px solid #d35400;
    border-radius: 40px;
    font-weight: 400;
    font-size: 1.0rem;
    margin-bottom: 75px;
    margin-top: 45px;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    text-transform: uppercase;
    padding: 30px 20px;
    letter-spacing: 1px;
    width: 80%;
}

#name, #email, #password {
    width: 80%;
    margin-bottom: 45px;
    height: 25px;
    border-radius: 8px;
    border: 1px solid black;
}

form label {
    margin-bottom: 18px;
}

.form-btn-full {
    background-color: #d35400;
    color: #fafafa;
    border: none;
    font-family: "Montserrat", Arial, sans-serif;
    font-weight: 300;
    height: 40px;
    width: 90px;
    border-radius: 200px;
    margin-right: 40px;
    outline: none;
}

.form-btn-ghost {
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid #d35400;
    font-family: "Montserrat", Arial, sans-serif;
    font-weight: 300;
    height: 40px;
    width: 110px;
    border-radius: 200px;
    outline: none;
}

.form-btn-full:active {
    background-color: #883600;
}

.form-btn-ghost:active {
    color: #fafafa;
    background-color: #883600;
    border-color: transparent;
}

#name:focus, #email:focus, #password:focus {
    border-color: #d35400;
}

/* --- Footer --- */

footer {
    background-color: #c9c9c9;
    color: black;
    display: flex;
    flex-flow: row wrap;
    flex: 1;
    justify-content: flex-start;
    align-items: center;
    height: 85px;
    font-weight: 300;
    font-size: 0.9rem;
}

.copyright {
    margin-left: 10px;
    display: flex;
    flex: 1;
    font-weight: 600;
}

.social-links {
    margin-right: 20px;
    margin-left: auto;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    text-align: center;
    flex: 0 1 auto;
}

.social-links p {
    margin-bottom: 10px;
}

.social-links a {
    font-size: 150%;
    text-decoration: none;
}

.social-links a:link, .social-links a:visited, .social-links a:hover, .social-links a:active {
    color: black;
}

[name="logo-facebook"], [name="logo-twitter"], [name="logo-pinterest"] {
    margin-right: 20px;
}

/* --- Media Queries --- */

@media screen and (min-width: 768px) {
    .slogan-container {
        margin-top: 33%;
    }

    .slogan-container h1 {
        font-size: 300%;
        font-weight: 400;
        line-height: 150%;
    }

    .logo-white, .logo-black {
        margin-left: 27px;
    }

    nav > ion-icon {
        margin-right: 30px;
        margin-top: 17px;
    }

    .section-features {
        padding: 10px 40px;
    }

    .section-features hr, [class^="section-features-"] {
        margin-bottom: 40px;
    }

    .section-features h2, .section-testimonials h2, .section-register h2 {
        font-weight: 500;
        font-size: 180%;
    }

    .section-features h4 {
        font-size: 120%;
    }

    [class^="section-features-"] > p {
        font-size: 110%;
    }

    .section-chef-grid {
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }

    [class^="chef-"] {
        height: 400px;
    }

    form {
        width: 60%;
        font-size: 1.1rem;
    }

    .copyright {
        margin-left: 50px;
    }

    .social-links {
        margin-right: 50px;
    }
}

@media screen and (min-width: 800px) {

    .slogan-container {
        margin-top: 43%;
    }

    .nav-container {
        margin-top: 30px;
    }

    .sticky-nav {
        margin: 0;
    }
}

@media screen and (min-width: 1024px) {
    .menu-icon {
        display: none;
    }

    .nav-container {
        padding-top: 0;
    }

    .nav-links-container {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        align-items: center;
        margin: 0 3% 0 auto;
        width: 50%;
    }

    .logo-white {
        margin-left: 51.2px;
    } 

    .nav-links {
        border-bottom: 2px solid transparent;
        padding-bottom: 4px;
    }

    .nav-links:link, .nav-links:visited {
        font-weight: 600;
        font-size: 1.1rem;
        letter-spacing: 1px;
    }

    .nav-links:hover, .nav-links:active {
        border-bottom-color: #d35400;
        transition: 0.3s ease-in;
    }

    .btn:hover {
        background-color: #d35400;
        transition: background-color 0.3s ease-in-out;
    }

    .slogan-container {
        justify-content: flex-start;
        align-items: flex-start;
        margin-bottom: auto;
        width: 100%;
        margin-top: 12%;
    }

    .slogan-container h1 {
        font-size: 270%;
        font-weight: 400;
        letter-spacing: 2px;
        word-spacing: 5px;
        text-transform: uppercase;
        color: #fafafa;
        margin-left: 5%;
    }

    .btn {
        margin-left: 5%;
        margin-top: 2%;
    }

    .summary {
        font-size: 1.3rem;
    }
    
    .section-features-grid {
        display: grid;
        gap: 20px;
        grid-template-rows: 470px;
        grid-template-columns: repeat(4, 222px);
        margin-top: 20px;
        margin-bottom: 8px;
    }

    .section-features-one {
        grid-row: 1;
        grid-column: 1;
    }

    .section-features-two {
        grid-row: 1;
        grid-column: 2;
    }

    .section-features-three {
        grid-row: 1;
        grid-column: 3;
    }

    .section-features-four {
        grid-row: 1;
        grid-column: 4;
    }

    .section-features-one, .section-features-two, .section-features-three, .section-features-four {
        margin-bottom: 0;
        padding: 0 10px;
    } 

    .section-features {
        text-align: left;
    }

    .section-chef-grid {
        grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
    }
    
    [class^="chef-"] {
        height: 450px;
        opacity: 0.5;
    }

    .chef-michelle:hover, .chef-pablo:hover, .chef-johan:hover, .chef-dexter:hover {
        opacity: 1;
        transition: 0.2s ease-in;
    }

    .section-testimonials-grid {
        display: grid;
        gap: 20px;
        grid-template-rows: 360px 360px;
        grid-template-columns: 450px 450px;
        justify-content: center;
        margin: 40px 0 60px 0;
    }

    .section-testimonials-stephan-meyers {
        grid-row: 1;
        grid-column: 1;
        box-shadow: 4px 5px 2px rgb(75, 74, 74);
    }

    .section-testimonials-yin-parker {
        grid-row: 2;
        grid-column: 1;
        box-shadow: 4px -5px 2px rgb(75, 74, 74);
    }

    .section-testimonials-tanya-stevens {
        grid-row: 1;
        grid-column: 2;
        box-shadow: -4px 5px 2px rgb(75, 74, 74);
    }

    .section-testimonials-yohav-bloomberg {
        grid-row: 2;
        grid-column: 2;
        box-shadow: -4px -5px 2px rgb(75, 74, 74);
    }

    .section-testimonials-stephan-meyers,
    .section-testimonials-yin-parker,
    .section-testimonials-tanya-stevens,
    .section-testimonials-yohav-bloomberg {
        margin-bottom: 0;
        border: 1px solid #fafafa;
    }

    .form-btn-full:hover {
        background-color: #883600;
        transition: background-color 0.2s ease-in-out;
    }
    
    .form-btn-ghost:hover {
        background-color: #883600;
        border-color: transparent;
        color: #fafafa;
        transition: 0.3s ease-in-out;
    }

}

@media screen and (min-width: 1280px) {

    .nav-links-container {
        width: 40%;
    }

    .logo-white {
        margin-left: 64px;
    }

    .summary {
        padding: 0 100px;
    }
    .section-features-grid {
        grid-template-rows: 400px;
        grid-template-columns: repeat(4, 250px);
        gap: 40px;
    }

    .section-chef-grid {
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }

    .section-testimonials-grid {
        grid-template-rows: 320px 320px;
        grid-template-columns: 600px 600px;
    }

    form {
        width: 50%;
    }
}

@media screen and (min-width: 1350px) {

    .section-chef-grid {
        grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
    }

}

@media screen and (min-width: 1824px) {

    .nav-links-container {
        width: 35%;
    }

    .slogan-container h1 {
        font-size: 4rem;
    }

    .logo-white {
        margin-left: 91.2px;
    }

    .summary {
        font-size: 1.4rem;
        padding: 0 300px;
    }

    .section-features-one, .section-features-two, .section-features-three, .section-features-four {
        padding: 0 20px;
    }

    .section-features-grid {
        grid-template-rows: 380px;
        grid-template-columns: repeat(4, 300px);
        gap: 120px;
    }

    .section-testimonials-grid {
        gap: 80px;
    }

    .section-testimonials-stephan-meyers {
        box-shadow: 8px 10px 4px rgb(75, 74, 74);
    }

    .section-testimonials-yin-parker {
        box-shadow: 8px -10px 4px rgb(75, 74, 74);
    }

    .section-testimonials-tanya-stevens {
        box-shadow: -8px 10px 4px rgb(75, 74, 74);
    }

    .section-testimonials-yohav-bloomberg {
        box-shadow: -8px -10px 4px rgb(75, 74, 74);
    }

    form {
        width: 40%;
    }
}